{% extends 'admin_base.html' %}
{% load static %}
{% block 'content' %}
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-6 bg-white rounded">
                <form class="row g-3" action="{% url 'Change_Password' %}" method='post' enctype="multipart/form-data">
                    {% csrf_token %}
                    <p class="text-danger">{{msg}}</p>
                    <div class="col-md-12">
                        <label for="oldpassword" class="form-label">Old Password</label>
                        <input type="password" required name="oldpassword" class="form-control" id="oldpassword">
                    </div>
                    <div class="col-md-12">
                        <label for="newpassword1" class="form-label">new Password</label>
                        <input type="password" required name="newpassword1" class="form-control" id="lnnewpassword1ame">
                    </div>
                    <div class="col-md-12">
                        <label for="newpassword2" class="form-label">Confirm password</label>
                        <input type="password" required name="newpassword2" class="form-control" id="newpassword2">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</body>
{% endblock 'content' %}
