{% extends 'admin_base.html' %}
{% load static %}
{% block 'content' %}

<body>
    
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-6 bg-white rounded">
                <form class="row g-3" action="{% url 'update_about' %}" method='post' enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for about in about %}
                    <input type="text" name="about_id" value="{{about.id}}" class="form-control" id="inputEmail4" hidden>
                    <div class="col-md-12">
                        <label for="title" class="form-label">Title</label>
                        <input required type=" text" name="title" id="title" class="form-control" id="inputEmail4" value="{{about.about_title}}">
                    </div>
                    <div class="col-md-6">
                        <label for="image" class="form-label">Old Image :</label>
                        <img class="img-fluid rounded" src="{{media}}{{about.about_img}}" id="image" style="height: 150px; width: 200px;">
                    </div>
                    <div class="col-md-12">
                        <label for="img" class="form-label">Image</label>
                        <input type="file" name="img" class="form-control" id="img" accept='image/*'>
                    </div>
                    <div>
                        <label for="status" class="form-label">Status</label>
                        <select required class="form-select" id="status" name="status" aria-label="Default select example">
                            <option value="0" {% if about.delete_status == 0 %}selected{% endif %}>Active</option>
                            <option value="1" {% if about.delete_status == 1 %}selected{% endif %}>Inactive</option>
                          </select>
                    </div>
                    <div class="col-12">
                        <label for="desc" class="form-label">Description</label>
                        <textarea id="editor" name="desc" required class="form-control" id="desc">{{about.about_desc}}</textarea>
                    </div> 
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                    {% endfor %}
                </form>
            </div>  
        </div>
    </div>
    
</body>
{% endblock 'content' %}
