{% extends 'admin_base.html' %}
{% load static %}
{% block 'content' %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0 d-flex justify-content-between align-items-center">
          <h6>Order table</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sr. No.</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Product</th>
                  {% if not user_id %}
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Customer</th>
                  {% endif %}
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Order Id</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Payment Id
                  </th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Booking
                    Status</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Total Price</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Address</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Created At</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Updated At</th>
                  {% comment %} <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                    Status</th> {% endcomment %}
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action
                  </th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Invoice
                  </th>
                </tr>
              </thead>
              <tbody id="searching">
                {% for order in order_obj %}

                <tr>
                  <td class="align-middle text-center">{{forloop.counter0|add:order_obj.start_index}}.</td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <h6 class="mb-0 text-sm">{{order.cart}}</h6>
                    </div>
          </div>
          </td>
          {% if not user_id %}
          <td>
            <div class="d-flex px-2 py-1">
              <div class="d-flex flex-column justify-content-center">
                <h6 class="mb-0 text-sm">{{order.cart.customer}}</h6>
              </div>

            </div>
          </td>
          {% endif %}
          <td class="align-middle text-center">
            <span class="text-secondary text-xs font-weight-bold">{{order.order_id}}</span>
          </td>
          {% if order.payment_id != '0' %}
          <td class="align-middle text-center">
            <span class="text-secondary text-xs font-weight-bold">{{order.payment_id}}</span>
          </td>
          {% else %}
          <td class="align-middle text-center">
            <span class="text-warning text-xs font-weight-bold">Pending</span>
          </td>
          {% endif %}
          {% if order.booking_status == 1 %}
          <td class="align-middle text-center text-sm">
            <button type="button" data-bs-toggle="dropdown" style="border: none;" aria-expanded="false"
              class="badge badge-sm bg-gradient-success dropdown-toggle">Booked</button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item"
                  href="{% url 'update_order' %}?order_id={{order.id}}&booking_status=0&user_id={{order.cart.customer.id}}">Waiting</a>
              </li>
            </ul>
          </td>
          {% else %}
          <td class="align-middle text-center text-sm">
            <button type="button" data-bs-toggle="dropdown" style="border: none;" aria-expanded="false"
              class="badge badge-sm bg-gradient-danger dropdown-toggle">Waiting</button>
            <ul class="dropdown-menu ">
              <li><a class="dropdown-item"
                  href="{% url 'update_order' %}?order_id={{order.id}}&booking_status=1&user_id={{order.cart.customer.id}}">Booked</a>
              </li>
            </ul>
          </td>
          {% endif %}
          <td class="align-middle text-center">
            <span class="text-secondary text-xs font-weight-bold">{{order.total_price}}</span>
          </td>
          <td class="align-middle text-center">
            <span class="text-secondary text-xs font-weight-bold">{{order.address|safe|truncatechars:50}}</span>
          </td>
          <td class="align-middle text-center">
            <span class="text-secondary text-xs font-weight-bold">{{order.created_at}}</span>
          </td>
          <td class="align-middle text-center">
            <span class="text-secondary text-xs font-weight-bold">{{order.updated_at}}</span>
          </td>
          {% comment %} <td class="align-middle text-center">
            <span class="text-secondary text-xs font-weight-bold">{{order.delete_status}}</span>
          </td> {% endcomment %}

          <td class="align-middle text-center">
            <a href="{% url 'delete_order' %}?order_id={{order.id}}&user_id={{order.cart.customer.id}}"
              class="ms-3 text-danger font-weight-bolder text-xs" data-toggle="tooltip" data-original-title="Edit user">
              Delete
            </a>
          </td>
          <td class="align-middle text-center">
            <button style="background: none;border: none;" class="ms-3 text-secondary font-weight-bolder text-xs"
              type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'invoice' %}?order_id={{order.order_id}}">View</a></li>
              <li><a class="dropdown-item"
                  href="{% url 'send_invoice' %}?order_id={{order.order_id}}&user_id={{order.cart.customer.id}}">Send</a>
              </li>
            </ul>
          </td>
          </tr>
          {% endfor %}
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% if order_obj.paginator.num_pages != 1 and user_id %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if order_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?user_id={{user_id}}&page=1">First</a></li>
    <li class="page-item"><a class="page-link" href="?user_id={{user_id}}&page={{order_obj.previous_page_number}}">{{
        order_obj.previous_page_number }}</a></li>
    {% endif %}
    <li class="page-item active"><a class="page-link" href="#">{{order_obj.number}}</a></li>
    {% if order_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?user_id={{user_id}}&page={{order_obj.next_page_number}}">{{
        order_obj.next_page_number }}</a></li>
    <li class="page-item"><a class="page-link"
        href="?user_id={{user_id}}&page={{order_obj.paginator.num_pages}}">Last</a></li>
    {% endif %}
  </ul>
</nav>
{% elif order_obj.paginator.num_pages != 1 %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if order_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
    <li class="page-item"><a class="page-link" href="?page={{order_obj.previous_page_number}}">{{
        order_obj.previous_page_number }}</a></li>
    {% endif %}
    <li class="page-item active"><a class="page-link" href="#">{{order_obj.number}}</a></li>
    {% if order_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{order_obj.next_page_number}}">{{ order_obj.next_page_number
        }}</a></li>
    <li class="page-item"><a class="page-link" href="?page={{order_obj.paginator.num_pages}}">Last</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
</div>
</main>
<!--   Core JS Files   -->
<script src="{% static '/assets/js/core/popper.min.js' %}"></script>
<script src="{% static '/assets/js/core/bootstrap.min.js' %}"></script>
<script src="{% static '/assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
<script src="{% static '/assets/js/plugins/smooth-scrollbar.min.js' %}"></script>
<script>
  var win = navigator.platform.indexOf('Win') > -1;
  if (win && document.querySelector('#sidenav-scrollbar')) {
    var options = {
      damping: '0.5'
    }
    Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
  }
</script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static '/assets/js/argon-dashboard.min.js' %}"></script>
{% endblock %}